<!DOCTYPE html>
<html>
<head>
  <title><%= error.code %> - <%= error.message %></title>
</head>
<body>
  <h1><%= error.code %> - <%= error.message %></h1>
  <p>Désolé, cette page n'existe pas</p>
  <a href="/">Retour à l'accueil</a>
</body>
</html>
